@define-color bg #141515;
@define-color fg #cbc2be;
@define-color gray1 #9fa5a9;
@define-color gray2 #4b4e55;
@define-color gray3 #798186;
@define-color gray4 #d9dbdc;
@define-color gray5 #aeaeae;
@define-color fg_bright #a5aeb4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}